*{
    margin: 0;
    padding: 0;
    color: rgb(34, 34, 34);
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #e8ecec, #dfe0e2);
}

.logo img{
    cursor: pointer;
    width: 70px;
    margin-left: 20px;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: rgb(83, 85, 192);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main img{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-top: 1vw;
    border: 7px;
    width: 40vw;
}

.main h1{
    align-self: center;
    font-size: 40px;
    padding: 15px;
}

.ingredients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5vw;
}

.list{
    padding: 15px;
    display: flex;
}

.list ul{
    padding: 20px;
    margin: 10px;
    line-height: 20px;
    letter-spacing: 1.5px;
    font-size: 1em;
}

.main p{
    width: 80vw;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1.1px;
    padding: 15px;
    text-align: center;
}

.main h4{
    padding-top: 20px;
    font-size: 1em;
}

@media screen and (max-width: 768px){
    .logo img{
        width: 70px;
        height: 70px;
    }
    
    .logo h1{
        font-size: 30px;
    }

    .logo{
        justify-content: center;
    }
    
    
    .main img{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        margin-top: 1vw;
        border: 7px;
        width: 90vw;
    }
    
    .main h1{
        align-self: center;
        font-size: 40px;
        padding: 20px;
        text-align: center;
    }
    
    .ingredients{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10vw;
    }
    
    .list{
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .list ul{
        line-height: 22px;
        letter-spacing: 1.5px;
        font-size: 1.1em;
    }
    
    .main p{
        width: 90vw;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1.1px;
        padding: 15px;
        text-align: center;
    }
    
    .main h4{
        padding-top: 20px;
        font-size: 1.1em;
    }
}