*{
    margin: 0;
    padding: 0;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #e8ecec, #dfe0e2);
    height: 100vh;
}

.heading{
    font-size: 2.5em;
    font-family: 'Merriweather', serif;
    text-align: center;
    letter-spacing: 3px;
    padding: 20px;
    margin-top: 15px;
}

.para{
    letter-spacing: 1.5px;
    width: 60vw;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    color: rgb(107, 107, 107);  
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.about img{
    width: 20px;
    height: 20px;
}

.about p{
    font-weight: bolder;
    font-size: 12px;
    padding: 10px;
    color: rgb(129, 131, 131);
    letter-spacing: 1px;
    line-height: 15px;
}

.recipes{
    background-color: rgb(235, 235, 235);
    width: 15vw;
    height: 46vh;
    margin: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recipes img{
    width: 15vw;
    border-radius: 8px 8px 0px 0px;
}

.recipes h2{
    text-align: center;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 1em;
}

.recipes h2:hover{
    text-decoration: underline;
    transition: 1s;
    color: rgb(43, 42, 42);
    cursor: pointer;
}

.food{
    display: flex;
    align-items: center;
    padding: 20px;
}

.line{
    height: 1.5px;
    width: 15vw;
    background-color: rgb(223, 222, 222);

}

.info{
    display: flex;
    justify-content: space-around;
    width: 15vw;
    padding: 10px;
}

.info p{
    color: rgb(163, 164, 165);
    font-weight: bold;
    font-size: 13px;
}

.cal{
    color: rgb(163, 164, 165);
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}

.recipes a{
    color: black;
    text-decoration: none;
}


@media screen and (max-width: 320px) {
    .heading{
        font-size: 2.5em;
    }

    .para{
        letter-spacing: 1px;
        width: 90vw;
        color: rgb(107, 107, 107);  
    }

    .about img{
        width: 20px;
        height: 20px;
    }
    
    .about p{
        font-weight: bolder;
        font-size: 12px;
        padding: 10px;
    }

    .food{
        display: flex;
        flex-direction: column;
    }

    .recipes{
        width: 90vw;
        height: 80vh;
        margin: 15px;
    }
    
    .recipes img{
        width: 90vw;
        border-radius: 8px 8px 0px 0px;
    }
    
    .recipes h2{
        padding: 10px;
        font-size: 1.5em;
    }

    .line{
        height: 1px;
        width: 80vw;
        margin-top: 20px;
    }
    
    .info{
        width: 80vw;
        padding: 15px;
    }

    .info p{
        font-size: 14px;
    }
    
    .cal{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .heading{
        font-size: 3em;
    }

    .para{
        letter-spacing: 1px;
        width: 80vw;
    }

    .about img{
        width: 25px;
        height: 25px;
    }
    
    .about p{
        font-weight: bolder;
        font-size: 12px;
        padding: 10px;
    }

    .food{
        display: flex;
        flex-wrap: wrap;
    }

    .recipes{
        width: 90vw;
        height: 50vh;
        margin: 15px;
    }
    
    .recipes img{
        width: 90vw;
    }
    
    .recipes h2{
        padding: 10px;
        font-size: 1.5em;
    }

    .line{
        height: 1px;
        width: 90vw;
        margin-top: 20px;
    }
    
    .info{
        width: 80vw;
        padding: 15px;
    }

    .info p{
        font-size: 14px;
    }
    
    .cal{
        font-size: 14px;
    }
}